<section class="wpb_row vc_row-fluid full-row">
  <div class="vc_col-sm-12 wpb_column vc_column_container">
    <div class="wpb_wrapper">
      <div class="wpb_revslider_element wpb_content_element">
        <script type="text/javascript" src="{{ site.baseurl }}public/js/revslider/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}public/js/revslider/jquery.themepunch.revolution.min.js"></script>
        <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container" style="background-color:#3b464b;padding:0px;">
          <div id="rev_slider_3_1" class="rev_slider fullscreenbanner" style="display:none;">
            <ul>
              <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" data-title="Slide">
                <!-- MAIN IMAGE -->
                <img src="{{ site.baseurl }}public/images/slides/2015-10-17.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption slide-element1 sft" data-x="200" data-y="center" data-voffset="-60" data-speed="600" data-start="1000" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                  <span style="font-size: 15px;">16 OCTOBER 2016</span>
                </div>

                <div class="tp-caption slider-element2 sft tp-resizeme" data-x="200" data-y="center" data-voffset="-15" data-speed="600" data-start="1000" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">We are
                </div>

                <div class="tp-caption slider-element3 sft tp-resizeme" data-x="200" data-y="center" data-voffset="38" data-speed="600" data-start="1000" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                  <span style="font-size: 49px;">Getting Married</span>
                </div>

                <div class="tp-caption slider-element4 sft tp-resizeme" data-x="200" data-y="center" data-voffset="100" data-speed="600" data-start="1000" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Let us always
                  <strong>meet</strong> each other with smile,
                </div>

                <div class="tp-caption slider-element4 sft tp-resizeme" data-x="200" data-y="center" data-voffset="126" data-speed="600" data-start="1000" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">smile is the beginning of love.
                </div>

                <div class="tp-caption black sfb tp-resizeme" data-x="170" data-y="center" data-voffset="200" data-speed="700" data-start="950" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                  <a target="=_blank" href="https://docs.google.com/forms/d/1KSoOalkAPv5HLRFeZ9bZ4CWludBfSpJjhxAk7Tgg4pI/viewform" class='w-button'>RSVP NOW</a>
                </div>
              </li>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
          </div>

          <script type="text/javascript">
            var setREVStartSize = function() {
              var tpopt = new Object();
              tpopt.startwidth = 1200;
              tpopt.startheight = 806;
              tpopt.container = jQuery('#rev_slider_3_1');
              tpopt.fullScreen = "on";
              tpopt.forceFullWidth = "on";

              tpopt.container.closest(".rev_slider_wrapper").css({
                height: tpopt.container.height()
              });
              tpopt.width = parseInt(tpopt.container.width(), 0);
              tpopt.height = parseInt(tpopt.container.height(), 0);
              tpopt.bw = tpopt.width / tpopt.startwidth;
              tpopt.bh = tpopt.height / tpopt.startheight;
              if (tpopt.bh > tpopt.bw) tpopt.bh = tpopt.bw;
              if (tpopt.bh < tpopt.bw) tpopt.bw = tpopt.bh;
              if (tpopt.bw < tpopt.bh) tpopt.bh = tpopt.bw;
              if (tpopt.bh > 1) {
                tpopt.bw = 1;
                tpopt.bh = 1
              }
              if (tpopt.bw > 1) {
                tpopt.bw = 1;
                tpopt.bh = 1
              }
              tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth));
              if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on") tpopt.height = tpopt.startheight;
              if (tpopt.fullScreen == "on") {
                tpopt.height = tpopt.bw * tpopt.startheight;
                var cow = tpopt.container.parent().width();
                var coh = jQuery(window).height();
                if (tpopt.fullScreenOffsetContainer != undefined) {
                  try {
                    var offcontainers = tpopt.fullScreenOffsetContainer.split(",");
                    jQuery.each(offcontainers, function(e, t) {
                      coh = coh - jQuery(t).outerHeight(true);
                      if (coh < tpopt.minFullScreenHeight) coh = tpopt.minFullScreenHeight
                    })
                  } catch (e) {}
                }
                tpopt.container.parent().height(coh);
                tpopt.container.height(coh);
                tpopt.container.closest(".rev_slider_wrapper").height(coh);
                tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);
                tpopt.container.css({
                  height: "100%"
                });
                tpopt.height = coh;
              } else {
                tpopt.container.height(tpopt.height);
                tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);
                tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
              }
            };

            /* CALL PLACEHOLDER */
            setREVStartSize();

            var tpj = jQuery;
            tpj.noConflict();
            var revapi3;

            tpj(document).ready(function() {

              if (tpj('#rev_slider_3_1').revolution == undefined)
                revslider_showDoubleJqueryError('#rev_slider_3_1');
              else
                revapi3 = tpj('#rev_slider_3_1').show().revolution({
                  dottedOverlay: "none",
                  delay: 9000,
                  startwidth: 1200,
                  startheight: 806,
                  hideThumbs: 200,

                  thumbWidth: 100,
                  thumbHeight: 50,
                  thumbAmount: 3,

                  simplifyAll: "off",

                  navigationType: "none",
                  navigationArrows: "solo",
                  navigationStyle: "preview4",

                  touchenabled: "on",
                  onHoverStop: "on",
                  nextSlideOnWindowFocus: "off",

                  swipe_threshold: 0.7,
                  swipe_min_touches: 1,
                  drag_block_vertical: false,

                  keyboardNavigation: "off",

                  navigationHAlign: "center",
                  navigationVAlign: "bottom",
                  navigationHOffset: 0,
                  navigationVOffset: 20,

                  soloArrowLeftHalign: "left",
                  soloArrowLeftValign: "center",
                  soloArrowLeftHOffset: 20,
                  soloArrowLeftVOffset: 0,

                  soloArrowRightHalign: "right",
                  soloArrowRightValign: "center",
                  soloArrowRightHOffset: 20,
                  soloArrowRightVOffset: 0,

                  shadow: 0,
                  fullWidth: "off",
                  fullScreen: "on",

                  spinner: "spinner3",

                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,

                  shuffle: "off",

                  forceFullWidth: "on",
                  fullScreenAlignForce: "on",
                  minFullScreenHeight: "",
                  hideTimerBar: "on",
                  hideThumbsOnMobile: "off",
                  hideNavDelayOnMobile: 1500,
                  hideBulletsOnMobile: "off",
                  hideArrowsOnMobile: "off",
                  hideThumbsUnderResolution: 0,

                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  startWithSlide: 0
                });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
